<% include header %>

<form method="POST" action="<%= action %>">
    <table id="login">
        <tr><td>First Name:</td>
            <!-- name attribute must be provided for non ajax forms -->
            <td><input type="text" id="fname" name="fname" /></td>
            <td>Last Name:</td>
            <!-- name attribute must be provided for non ajax forms -->
            <td><input type="text" id="lname" name="lname" /></td>
        </tr>
        <tr><td>Password:</td>
            <td><input type="password" id="password" name="password" /></td>
        </tr>
    </table>
    <input type="submit">
</form>

<% include footer %>