<% include header %>
   <form method="post" action="<%= action %>">
   
   		Enter the details of the course, then click 'submit'
   		<table id="coursecreate">
	        <tr>
	        	<td>Course Name:</td>
	            <td><input type="text" id="CourseName" name="CourseName" /></td>
	            <td>Course Number:</td>
	            <td><input type="text" id="CourseNumber" name="CourseNumber" /></td>
	        </tr>
	        <tr>
	        	<td>Department Name:</td>
	            <td><input type="text" id="DepartmentName" name="DepartmentName" /></td>
	            <td>Special tags:</td>
	            <td><input type="text" id="Tags" name="Tags" /></td>
	        </tr>

	    </table>
   		       
       <input type="submit">
   </form>
   

<% include footer %>