<% include header %>

Submitted Data
    <table id="login">
        <tr><td>AccountID: </td>
            <td><%= AccountID %></td>
        </tr>
        <tr><td>Post: </td>
            <td><%= Post %></td>
        </tr>
    </table>
<% include footer %>