<% include header %>

Submitted Data
    <table id="login">
        <tr><td>Email: </td>
            <td><%= Email %></td>
        </tr>
        <tr><td>Password: </td>
            <td><%= Password %></td>
        </tr>
    </table>
<% include footer %>