<% include header %>
   		<h3>Course Sucessfuly Created!</h3>
   		<br>
		<table>
   			<tr>
	        	<td>Course Name:</td>
	            <td><%= CourseName %></td>
	        </tr>
			<tr>
	            <td>Course Number:</td>
	            <td><%= CourseNumber %></td>
	        </tr>
	        <tr>
	        	<td>Department Name:</td>
	            <td><%= DepartmentName %></td>
            </tr>
			<tr>
	            <td>Special tags:</td>
	            <td><%= Tags %></td>
	        </tr>

	    </table>
   

<% include footer %>