<!DOCTYPE HTML>
<html>
<head>
    <title>Dominic Nicholson Project 2</title>
</head>
<body>
<header>
	<div id="header" style = "background-color:#EEEFFF;">
	    <h1>Assignment Storage</h1>
	    <br>
	    
	    <!-- Everyone items -->
	    <table>
	    <tr>
	    <td style = "width:200px;">
	  	 	<a href="/">Home</a>
  	 	</td>
  	 	<td  style = "width:200px;">
	   		<a href="/AccountCreate">Create an account</a>
	   	</td>
	   	<td  style = "width:200px;">
	   		<a href="/About">About</a>
	   	</td>
	   	</tr>
	   	</table>
	    
    </div>
    
</header>
<table id="partition" style = "padding:0px;margin:0px;">
	<tr style = "padding:0px;margin:0px;">
		<td style = "padding:0px;margin:0px;width:200px;">
			<div id="sidebar" style = "padding:0px;margin:0px;background-color:#C0C0D0;height:400px;"> 
			
				For Students:<br>	
				<ul style="line-height:2;">
				   	<li><a href="/Enroll">Enroll in a Course			</a></li>
				   	<li><a href="/Submit">Submit Assignment				</a></li>
				   	<li><a href="/Edit">Edit Assignment					</a></li>
			   		<li><a href="/MyGrades">My Grades					</a></li>
			   	</ul>
			   	For Instructors:<br>
				<ul style="line-height:2;">   					 	
				   	<li><a href="/CreateCourse">Create Course			</a></li>
				   	<li><a href="/CreateAssignment">Create Assignment	</a></li>
				   	<li><a href="/GradeAssignment">Grade Assignment		</a></li>
				   	<li><a href="/ViewEnrollment">View Enrollment		</a></li>
				</ul>
			</div>
		</td>
		<td style = "vertical-align:top;width:800px;">
			<div id="content" >
				<h2><%= global.subtitle %></h2>
	