<% include header %>
   <form method="post" action="<%= action %>">
   		<%= Header %>

		<input type = "text" name ="SubmissionText" id = "SubmissionText" >
			
       
       
       <input type="submit">
   </form>
   

<% include footer %>